*{
    margin: 0;
    padding: 0;
}
body{
    background-image: repeating-conic-gradient(rgb(122, 0, 0) 20%, black 40%);
    border-radius: 50%;
    width: 100vw;
    height: 100vh;
}
.tela{
    background-color: rgba(0, 0, 0, 0.836);
    border-radius: 10%;
    color: white;
    width: 180px;
    height: 250px;
    padding: 10px;

    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}
.input{
    padding: 10px;
    font-size: 2em;
}
label{
    font-size: 1.2em;
    font-weight: bold;
}
h3{
    text-align: center;
    font-size: 2em;
    padding: 5px;
}
