@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, rgb(255, 47, 47), rgb(110, 255, 110) rgb(71, 71, 255));
}

h1{
    text-align: center;
    text-shadow: 1px 2px 5px black;
    margin-top: 3px;
}

img{
    width: 115px;
    box-shadow: 5px 5px 10px 1px  rgba(0, 0, 0, 0.74);
    border-radius: 10px;
    padding: 2px;
    
}
img:hover {
    width: 150px;
}



.forca {
    background-image: linear-gradient(rgb(185, 0, 0), rgb(102, 1, 1) );
    padding: 1px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 1px rgb(255, 0, 0);
    margin: -7px;
    height: 100%;
}
.agilidade {
    background-image: linear-gradient(rgb(0, 185, 0), rgb(0, 82, 0));
    padding: 1px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 1px rgb(0, 255, 0);
    margin: -7px;
    margin-top: 15px;
    height: 100%;
}
.inteligencia {
    background-image: linear-gradient(rgb(0, 0, 185), rgb(0, 0, 121));
    padding: 1px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 1px rgb(0, 0, 255);
    margin: -7px;
    margin-top: 15px;
    height: 100%;
    
}